@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #eee;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  text-transform: capitalize;
  margin: 0 0 5rem;
  font-size: 3rem;
  border-bottom: 3px solid #efd81d;
  padding: 0 2rem;
}

.clock {
  background: linear-gradient(45deg, #efd81d 50%, #000);
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  letter-spacing: 1rem;
  width: 40rem;
  text-align: center;
  font-size: 5rem;
  color: #000;
}
